:root {
  --opacity-image-overlay: 0;
  --color-body-text: #000000;
}

body {
  font-family: Alata, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Alata, Helvetica, Arial, sans-serif;
}

p a {
  color: #1fee6c;
  text-decoration: none;
  border-bottom: 2px solid #9f42f2;
}
p a:hover {
  color: #1ec45b;
  border-bottom: none !important;
}

nav[role=navigation] li a:not([disabled]):hover {
  color: #000;
}

.text-on-color {
  height: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.text-on-color.ratio-container:after {
  padding-bottom: 0;
}

.text-on-color .hero__inner {
  display: block;
}

.text-on-color h2 p,
.text-on-color .mega-subtitle p {
  color: #000;
  margin-left: auto;
  margin-right: auto;
  text-shadow: none;
}

#shopify-section-hero-1 .box {
  background-color: transparent;
}

.template-index .page-width {
  max-width: 1400px;
}
.template-index .paradise-header--medium {
  height: 700px;
}
.template-index .paradise-header-img {
  background-position: left center !important;
  background-color: transparent;
}
.template-index .hero .mega-title.paradise-hl {
  text-align: right;
  max-width: 600px;
  margin-left: auto;
  font-size: 6rem;
  text-shadow: none;
}
.template-index h2 a.colored-ideas {
  color: #1fee6c;
  text-decoration: underline;
  text-decoration-color: #9f42f2;
  border-bottom: none;
}
.template-index h2 a.colored-ideas:hover {
  color: #1ec45b;
}
.template-index #shopify-section-1612641836df66ce98 .text-on-color h2 p {
  color: #3cbee6;
  max-width: 850px;
  font-size: 6rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.template-index #shopify-section-1612641836df66ce98 .text-on-color .mega-subtitle p {
  color: #ec5a5a;
  font-size: 4.5rem;
}
.template-index #team-columns .img-wrapper {
  padding-top: 100% !important;
  overflow: hidden;
  position: relative;
}
.template-index .page-container h2 {
  font-size: 5.5rem;
  text-transform: unset;
}
.template-index .page-container h3 {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 0;
}
.template-index .page-container h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
.template-index .page-container #team-columns p {
  font-size: 1.2rem;
  font-weight: 500;
}
.template-index #shopify-section-collection .product-card__image-wrapper {
  max-width: none;
}
.template-index #shopify-section-collection .product-card__image-wrapper img.grid-view-item__image {
  max-width: none;
  max-height: none;
}
.template-index #shopify-section-collection .h4.product-card__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  text-align: center;
  padding: 30px;
  width: 100%;
}
.template-index #shopify-section-collection .product-card:hover .product-card__title {
  border-bottom: none;
}
.template-index #shopify-section-collection hr {
  margin: 35px 0;
}
.template-index #shopify-section-collection a.btn {
  border: 2px solid #000;
  color: #000;
  background-color: transparent;
}
.template-index #shopify-section-collection a.btn:hover {
  border: 2px solid #fff;
  color: #fff;
  background-color: #000;
}
.template-index #shopify-section-quotes .section-header h2 {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.template-index #shopify-section-1612881375c37c0761 {
  padding-top: 0;
  padding-bottom: 0;
}
.template-index #shopify-section-1612881375c37c0761 .box {
  background-color: #fff;
}
.template-index #shopify-section-1612881375c37c0761 h2 {
  margin-bottom: 3rem;
}
.template-index #shopify-section-1612881375c37c0761 .mega-subtitle {
  font-size: 1.4rem;
}
.template-index #shopify-section-1612881375c37c0761 .mega-subtitle a {
  color: #1fee6c;
  border-bottom: 2px solid #9f42f2;
}
.template-index #shopify-section-1612881375c37c0761 .mega-subtitle a:hover {
  color: #1ec45b;
}
.template-index #shopify-section-1612878185833c4523 {
  padding-bottom: 55px;
}
.template-index #shopify-section-1612878185833c4523 .hero {
  height: 650px;
}
.template-index #shopify-section-1612878185833c4523 .page-width {
  text-align: left !important;
}
.template-index #shopify-section-1612878185833c4523 .hero__inner h2 {
  max-width: 650px;
  margin-bottom: 3.6rem;
  font-size: 7rem;
  text-align: left;
}
.template-index #shopify-section-1612878185833c4523 .hero__inner h2 p {
  color: #fff;
}
.template-index #shopify-section-1612878185833c4523 .mega-subtitle {
  text-align: left;
  max-width: 500px;
  margin-left: 0;
}
.template-index #shopify-section-1612878185833c4523 a.hero__btn {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.template-index #shopify-section-1612878185833c4523 a.hero__btn:hover {
  background-color: #ffffff44;
}

.template-page .main-content {
  padding-bottom: 55px;
}

footer.site-footer .h4 {
  font-size: 1.4rem;
  font-weight: 500;
}
footer.site-footer .site-footer__rte {
  margin-top: 10px;
}
footer.site-footer .site-footer__copyright-content {
  margin-top: 10px;
}
footer.site-footer .site-header__logo-image img {
  margin-left: -5px;
}
footer.site-footer .site-footer__item-inner--text {
  max-width: 240px;
}
footer.site-footer .site-footer__hr {
  margin: 0;
  border-bottom: none;
}
footer.site-footer .site-footer__linklist-item a:hover {
  color: #000;
  border-bottom-color: #000;
}

/*# sourceMappingURL=paradise-custom.css.map */
