:root {
  --opacity-image-overlay: 0;
  --color-body-text: #000000;
}

body {
  font-family: Alata, Helvetica, Arial, sans-serif;
}

.page-width {
  max-width: 1400px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Alata, Helvetica, Arial, sans-serif;
}

.paradise-header--medium {
  height: 700px;
}

.paradise-header-img {
  background-position: left center !important;
  background-color: transparent;
}

.hero .mega-title.paradise-hl {
  text-align: right;
  max-width: 600px;
  margin-left: auto;
  font-size: 6rem;
  text-shadow: none;
}

.text-on-color {
  height: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.text-on-color.ratio-container:after {
  padding-bottom: 0;
}

.text-on-color .hero__inner {
  display: block;
}

.text-on-color h2 p,
.text-on-color .mega-subtitle p {
  color: #000;
  margin-left: auto;
  margin-right: auto;
  text-shadow: none;
}

.text-on-color h2 p {
  color: #3cbee6;
  max-width: 850px;
  font-size: 6rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.text-on-color .mega-subtitle p {
  color: #ec5a5a;
  font-size: 4.5rem;
}

#shopify-section-hero-1 .box {
  background-color: transparent;
}

.colored-ideas {
  color: #1fee6c;
  text-decoration: underline;
  text-decoration-color: #9f42f2;
}

#team-columns .img-wrapper {
  padding-top: 100% !important;
  overflow: hidden;
  position: relative;
}

.page-container h2 {
  font-size: 5.5rem;
  text-transform: unset;
}

.page-container h3 {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 0;
}
.page-container h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
.page-container #team-columns p {
  font-size: 1.2rem;
  font-weight: 500;
}

#shopify-section-collection .product-card__image-wrapper {
  max-width: none;
}
#shopify-section-collection .product-card__image-wrapper img.grid-view-item__image {
  max-width: none;
  max-height: none;
}

#shopify-section-collection .h4.product-card__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  text-align: center;
  padding: 30px;
  width: 100%;
}
#shopify-section-collection .product-card:hover .product-card__title {
  border-bottom: none;
}
#shopify-section-collection hr {
  margin: 35px 0;
}
#shopify-section-collection a.btn {
  border: 2px solid #000;
  color: #000;
  background-color: transparent;
}
#shopify-section-collection a.btn:hover {
  border: 2px solid #fff;
  color: #fff;
  background-color: #000;
}

#shopify-section-quotes .section-header h2 {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#shopify-section-1612878185833c4523 .hero {
  height: 650px;
}
#shopify-section-1612878185833c4523 .page-width {
  text-align: left !important;
}
#shopify-section-1612878185833c4523 .hero__inner h2 {
  max-width: 650px;
  margin-bottom: 3.6rem;
  font-size: 7rem;
  text-align: left;
}
#shopify-section-1612878185833c4523 .hero__inner h2 p {
  color: #fff;
}
#shopify-section-1612878185833c4523 .mega-subtitle {
  text-align: left;
  max-width: 500px;
  margin-left: 0;
}
#shopify-section-1612878185833c4523 a.hero__btn {
  background-color: transparent;
  border: 2px solid #fff;
}
#shopify-section-1612878185833c4523 a.hero__btn:hover {
  background-color: #ffffff44;
}

footer.site-footer {
  background-color: #37ee77;
}

/*# sourceMappingURL=paradise-custom.css.map */
