<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      {% section 'shopify-banner-video' %}
      {% section 'shopify-image-with-text-1' %}
      {% section 'shopify-image-with-text-2' %}
      {% section 'shopify-image-with-text-3' %}
      
      <div class="rte">
        {{ page.content }}
        
      </div>
    </div>
  </div>
</div>