<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte hosting-service">
        {{ page.content }}
        {% render 'hooked-ptable-aY4ZBmqjRX' %}
      </div>
      <div>
        <p>*Preise pro Jahr</p>
      </div>
      <br>
      <br>
      <br>
      <div style="text-align: center;">
        <p>Oder soll es doch eine Webseite auf <b>Shopify</b>-Basis sein? <a href="https://www.shopify.de/preise" target="_blank">Hier</a> gehts zu den Shopify Konditionen.</p>
      </div>
    </div>
  </div>
</div>
