<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte hosting-service">
        {{ page.content }}
        {% render 'hooked-ptable-aY4ZBmqjRX' %}
      </div>
    </div>
  </div>
</div>
