// >> GLOBAL <<

body {
  font-family: Alata, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
 {
  font-family: Alata, Helvetica, Arial, sans-serif;

  a:hover {
    text-decoration: underline;
  }
}

p a {
  color: #1fee6c;
  text-decoration: none;
  border-bottom: 2px solid #9f42f2;

  &:hover {
    color: #1ec45b;
    border-bottom: none !important;
  }
}

// >> VARIABLES <<

:root {
  --opacity-image-overlay: 0;
  --color-body-text: #000;
  --color-text-focus: #000;
}

// >> NAVIGATION <<

// Link color
nav[role="navigation"] {
  li a:not([disabled]):hover {
    color: #000;
  }
}

// >> BUTTONS <<
.btn--small {
  padding: 10px 10px 8px 10px;
}

.btn {
  border-width: 2px;
  border-radius: 0;
  border-color: var(--color-body-text);

  &:not([disabled]):hover {
    background-color: var(--color-body-text);
    color: #fff;
  }
}

// >> SECTIONS <<

// Text on Color
.text-on-color {
  height: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.text-on-color.ratio-container:after {
  padding-bottom: 0;
}

.text-on-color .hero__inner {
  display: block;
}

.text-on-color {
  h2 p,
  .mega-subtitle p {
    color: #000;
    margin-left: auto;
    margin-right: auto;
    text-shadow: none;
  }
}
  
#shopify-section-hero-1 .box {
  background-color: transparent;
}

// >> STARTPAGE <<

.template-index {
  .page-width {
    max-width: 1400px;
  }

  // Header
  .paradise-header--medium {
    height: 700px;
  }

  .paradise-header-img {
    background-position: left center !important;
    background-color: transparent;
  }

  .hero .mega-title.paradise-hl {
    text-align: right;
    max-width: 600px;
    margin-left: auto;
    font-size: 6rem;
    text-shadow: none;
  }

  h2 a.colored-ideas {
    color: #1fee6c;
    text-decoration: underline;
    text-decoration-color: #9f42f2;
    border-bottom: none;

    &:hover {
      color: #1ec45b;
    }
  }

  // Das können wir
  #shopify-section-1612641836df66ce98 {
    .text-on-color h2 p {
      color: #3cbee6;
      max-width: 850px;
      font-size: 6rem;
      font-weight: 500;
      margin-bottom: 3rem;
    }
    
    .text-on-color .mega-subtitle p {
      color: #ec5a5a;
      font-size: 4.5rem;
    }
  }

  // Team
  #team-columns .img-wrapper {
    padding-top: 100% !important;
    overflow: hidden;
    position: relative;
  }

  .page-container h2 {
    font-size: 5.5rem;
    text-transform: unset;
  }

  .page-container {
    h3 {
      font-size: 2.25rem;
      font-weight: 500;
      margin-bottom: 0;
    }

    h4 {
      font-size: 1.2rem;
      font-weight: 500;
    }

    #team-columns {
      p {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }

  #shopify-section-collection {
    .product-card__image-wrapper {
      max-width: none;
    
      img.grid-view-item__image {
        max-width: none;
        max-height: none;
      }
    }
  }

  // Produkte Collection
  #shopify-section-collection {
    .h4.product-card__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5rem;
      text-align: center;
      padding: 30px;
      width: 100%;
    }

    .product-card:hover .product-card__title {
      border-bottom: none;
    }

    hr {
      margin: 35px 0;
    }

    a.btn {
      border: 2px solid #000;
      color: #000;
      background-color: transparent;

      &:hover {
        border: 2px solid #fff;
        color: #fff;
        background-color: #000;
      }
    }
  }

  // Was unsere Kunden sagen
  #shopify-section-quotes {
    .section-header {
      h2 {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  // Anforderungen sind speziell
  #shopify-section-1612881375c37c0761 {
    padding-top: 0;
    padding-bottom: 0;

    .box {
      background-color: #fff;
    }

    h2 {
      margin-bottom: 3rem;
    }

    .mega-subtitle {
      font-size: 1.4rem;

      a {
        color: #1fee6c;
        border-bottom: 2px solid #9f42f2;
    
        &:hover {
          color: #1ec45b;
        }
      }
    }
  }

  // Grüße aus dem wilden Osten
  #shopify-section-1612878185833c4523 {
    padding-bottom: 55px;

    .hero {
      height: 650px;
    }

    .page-width {
      text-align: left !important;
    }

    .hero__inner h2 {
      max-width: 650px;
      margin-bottom: 3.6rem;
      font-size: 7rem;
      text-align: left;

      p {
        color: #fff;
      }
    }

    .mega-subtitle {
      text-align: left;
      max-width: 500px;
      margin-left: 0;
    }

    a.hero__btn {
      background-color: transparent;
      border: 2px solid #fff;
      color: #fff;

      &:hover {
        background-color: #ffffff44;
      }
    }
  }
}

// >> PAGES <<
.template-page {
  .main-content {
    padding-bottom: 55px;
  }
}

// >> BLOG <<

.template-blog {
  .blog-list-view {
    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  .article_properties {
    text-align: center;

    .article__author,
    .article__date {
      //
    }
  }
}

// Footer
footer.site-footer {
  .h4 {
    font-size: 1.4rem;
    font-weight: 500;
  }

  .site-footer__rte {
    margin-top: 10px;
  }

  .site-footer__copyright-content {
    margin-top: 10px;
  }

  .site-header__logo-image img {
    margin-left: -5px;
  }

  .site-footer__item-inner--text {
    max-width: 240px;
  }

  .site-footer__hr {
    margin: 0;
    border-bottom: none;
  }

  .site-footer__linklist-item a:hover {
    color: #000;
    border-bottom-color: #000;
  }
}